<footer class="footer">

    <div class="footer__copyright">
        <a class="copyright__logo-footer" href="./index.html">
            <img class="logo-footer__pokeball-icon" src="./assets/icons/pokeball.png">
            <div class="logo-footer__title">Pokédex</div>
        </a>
        <p>&#169; Copyright 2025 by Florian&nbsp;Araújo.
            <br>All Rights Reserved.
        </p>
    </div>

    <div class="footer__more-info">
        <a href="./index.html">Home</a>
        <div class="more-info__separator"></div>
        <a href="./about.html">About</a>
    </div>

</footer>