<footer class="footer">
    <div class="footer limit-1440">
        <div class="footer__copyright">
            <a class="copyright__logo-footer" href="./index.html">
                <img class="logo-footer__pokeball-icon" src="./assets/icons/pokeball.png">
                <div class="logo-footer__title">Pokédex</div>
            </a>
            <p><small>&copy; 2025, Florian&nbsp;Araújo.</small></p>
            <p><small>All rights reserved.</small></p>
        </div>

        <ul class="footer__more-info">
            <li>
                <a href="./index.html">Home</a>
            </li>
            <div class="more-info__separator"></div>
            <li>
                <a href="./about.html">About</a>
            </li>
            </zl>
    </div>
</footer>