<header class="header">
    <a class="logo-container" href="#">
        <img class="logo-container__pokeball-icon" src="./assets/icons/pokeball.png">
        <div class="logo-container__title">Pokédex</div>
    </a>

    <div class="search-container">
        <input type="text" id="searchBar" class="search-bar" placeholder="Pokémon suchen..." onkeyup="searchPokemon()">
        <ul id="suggestions" class="suggestions-list"></ul>
    </div>


    <div class="button-container">
        <button id="kantoButton" class="pokedex-button" onclick="initPokedex('Kanto')">KANTO</button>
        <button id="johtoButton" class="pokedex-button" onclick="initPokedex('Johto')">JOHTO</button>
        <button id="hoennButton" class="pokedex-button" onclick="initPokedex('Hoenn')">HOENN</button>
        <button id="sinnohButton" class="pokedex-button" onclick="initPokedex('Sinnoh')">SINNOH</button>
        <button id="unovaButton" class="pokedex-button" onclick="initPokedex('Unova')">UNOVA</button>
        <button id="kalosButton" class="pokedex-button" onclick="initPokedex('Kalos')">KALOS</button>
        <button id="alolaButton" class="pokedex-button" onclick="initPokedex('Alola')">ALOLA</button>
        <button id="galarButton" class="pokedex-button" onclick="initPokedex('Galar')">GALAR</button>
        <button id="paldeaButton" class="pokedex-button" onclick="initPokedex('Paldea')">PALDEA</button>
    </div>

</header>