<header class="header">
    <a class="logo-container" href="#">
        <img class="logo-container__pokeball-icon" src="./assets/icons/pokeball.png">
        <div class="logo-container__title">Pokédex</div>
    </a>

    <div class="search-container">
        <input type="text" id="searchBar" class="search-bar" placeholder="Pokémon suchen..." onkeyup="searchPokemon()">
        <ul id="suggestions" class="suggestions-list"></ul>
    </div>


    <div class="button-container">
        <button class="pokedex-button" onclick="displayPokedex('Kanto')">KANTO</button>
        <button class="pokedex-button" onclick="displayPokedex('Johto')">JOHTO</button>
        <button class="pokedex-button" onclick="displayPokedex('Hoenn')">HOENN</button>
        <button class="pokedex-button" onclick="displayPokedex('Sinnoh')">SINNOH</button>
        <button class="pokedex-button" onclick="displayPokedex('Unova')">UNOVA</button>
        <button class="pokedex-button" onclick="displayPokedex('Kalos')">KALOS</button>
        <button class="pokedex-button" onclick="displayPokedex('Alola')">ALOLA</button>
        <button class="pokedex-button" onclick="displayPokedex('Galar')">GALAR</button>
        <button class="pokedex-button" onclick="displayPokedex('Paldea')">PALDEA</button>
    </div>
</header>