<header class="header">
    <div class="pokedex-logo">
        <img class="pokedex-logo__pokeball-icon" src="../assets/icons/pokeball.png">
        <div class="pokedex-logo__title">Pokédex</div>
    </div>
    <button class="pokedex-button" onclick="displayPokedex('Kanto')">KANTO</button>
    <button class="pokedex-button" onclick="displayPokedex('Johto')">JOHTO 152+</button>
    <button class="pokedex-button" onclick="displayPokedex('Hoenn')">HOENN 252+</button>
    <button class="pokedex-button" onclick="displayPokedex('Sinnoh')">SINNOH 387+</button>
    <button class="pokedex-button" onclick="displayPokedex('Unova')">UNOVA 494+</button>
    <button class="pokedex-button" onclick="displayPokedex('Kalos')">KALOS 650+</button>
    <button class="pokedex-button" onclick="displayPokedex('Alola')">Alola 722+</button>
    <button class="pokedex-button" onclick="displayPokedex('Galar')">Galar 810+</button>
    <button class="pokedex-button" onclick="displayPokedex('Paldea')">Paldea 906+</button>
</header>