:root {
	--bug: rgb(144, 161, 25);
	--dark: rgba(70, 62, 62);
	--dragon: rgba(77, 100, 171);
	--electric: rgba(229, 198, 0);
	--fairy: rgba(212, 128, 207);
	--fighting: rgba(168, 76, 61);
	--fire: rgb(229, 40, 42);
	--flying: rgba(135, 181, 229);
	--ghost: rgb(113, 65, 111);
	--grass: rgb(63, 161, 41);
	--ground: rgba(149, 104, 51);
	--ice: rgba(104, 186, 172);
	--normal: rgba(168, 168, 153);
	--poison: rgb(145, 66, 203);
	--psychic: rgb(239, 66, 120);
	--rock: rgba(168, 153, 91);
	--steel: rgba(153, 153, 168);
	--water: rgb(41, 128, 239);

	--bug-light: rgb(177, 211, 106);
	--dark-light: rgb(157, 140, 140);
	--dragon-light: rgb(171, 181, 229);
	--electric-light: rgb(255, 243, 145);
	--fairy-light: rgb(241, 202, 241);
	--fighting-light: rgb(227, 174, 154);
	--fire-light: rgb(255, 121, 97);
	--flying-light: rgb(204, 217, 255);
	--ghost-light: rgb(153, 123, 154);
	--grass-light: rgb(146, 208, 139);
	--ground-light: rgb(209, 178, 153);
	--normal-light: rgb(221, 221, 204);
	--ice-light: rgb(176, 225, 210);
	--poison-light: rgb(181, 134, 220);
	--psychic-light: rgb(255, 145, 166);
	--rock-light: rgb(211, 202, 151);
	--steel-light: rgb(204, 204, 211);
	--water-light: rgb(108, 185, 235);

	--bug-super-light: rgb(211, 230, 169);
	--dark-super-light: rgb(216, 195, 195);
	--dragon-super-light: rgb(193, 213, 245);
	--electric-super-light: rgb(250, 230, 184);
	--fairy-super-light: rgb(245, 209, 245);
	--fighting-super-light: rgb(234, 193, 175);
	--fire-super-light: rgb(253, 212, 202);
	--flying-super-light: rgb(220, 228, 252);
	--ghost-super-light: rgb(208, 205, 227);
	--grass-super-light: rgb(193, 228, 189);
	--ground-super-light: rgb(237, 216, 194);
	--ice-super-light: rgb(216, 240, 230);
	--normal-super-light: rgb(235, 233, 225);
	--poison-super-light: rgb(230, 208, 245);
	--psychic-super-light: rgb(253, 203, 208);
	--rock-super-light: rgb(234, 229, 204);
	--steel-super-light: rgb(224, 229, 234);
	--water-super-light: rgb(200, 230, 246);

	--black: rgb(0, 0, 0);
	--blue-light: rgb(135, 206, 250);
	--green: rgb(80, 199, 120);
	--grey-light: rgb(239, 237, 233);
	--red: rgb(212, 4, 37);
	--red-light: rgb(229, 78, 73);
	--teal: rgb(32, 125, 155);
	--teal-dark: rgb(18, 71, 88);
	--teal-light: rgb(39, 152, 189);
	--white: rgb(255, 255, 255);
	--yellow: rgb(246, 194, 68);

	--background: rgb(252, 252, 252);
	--border: rgb(219, 217, 215);
	--hover-blue: rgb(40, 123, 237);
	--hover-orange: rgb(255, 146, 72);
	--hover-white: rgb(240, 240, 240);
	--hover-yellow: rgb(248, 206, 105);

	--youtube: rgb(255, 0, 0);
	--instagram: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	--facebook: rgb(58, 89, 151);
}

/* Base colors */

.bug {
	background: var(--bug);
}

.dark {
	background: var(--dark);
}

.dragon {
	background: var(--dragon);
}

.electric {
	background: var(--electric);
}

.fairy {
	background: var(--fairy);
}

.fighting {
	background: var(--fighting);
}

.fire {
	background: var(--fire);
}

.flying {
	background: var(--flying);
}

.ghost {
	background: var(--ghost);
}

.grass {
	background: var(--grass);
}

.ground {
	background: var(--ground);
}

.normal {
	background: var(--normal);
}

.ice {
	background: var(--ice);
}

.poison {
	background: var(--poison);
}

.psychic {
	background: var(--psychic);
}

.rock {
	background: var(--rock);
}

.steel {
	background: var(--steel);
}

.water {
	background: var(--water);
}

/* Light colors */

.bug-light {
	background: var(--bug-light);
}

.dark-light {
	background: var(--dark-light);
}

.dragon-light {
	background: var(--dragon-light);
}

.electric-light {
	background: var(--electric-light);
}

.fairy-light {
	background: var(--fairy-light);
}

.fighting-light {
	background: var(--fighting-light);
}

.fire-light {
	background: var(--fire-light);
}

.flying-light {
	background: var(--flying-light);
}

.ghost-light {
	background: var(--ghost-light);
}

.grass-light {
	background: var(--grass-light);
}

.ground-light {
	background: var(--ground-light);
}

.normal-light {
	background: var(--normal-light);
}

.ice-light {
	background: var(--ice-light);
}

.poison-light {
	background: var(--poison-light);
}

.psychic-light {
	background: var(--psychic-light);
}

.rock-light {
	background: var(--rock-light);
}

.steel-light {
	background: var(--steel-light);
}

.water-light {
	background: var(--water-light);
}

/* Super light colors */

.bug-super-light {
	background: var(--bug-super-light);
}

.dark-super-light {
	background: var(--dark-super-light);
}

.dragon-super-light {
	background: var(--dragon-super-light);
}

.electric-super-light {
	background: var(--electric-super-light);
}

.fairy-super-light {
	background: var(--fairy-super-light);
}

.fighting-super-light {
	background: var(--fighting-super-light);
}

.fire-super-light {
	background: var(--fire-super-light);
}

.flying-super-light {
	background: var(--flying-super-light);
}

.ghost-super-light {
	background: var(--ghost-super-light);
}

.grass-super-light {
	background: var(--grass-super-light);
}

.ground-super-light {
	background: var(--ground-super-light);
}

.normal-super-light {
	background: var(--normal-super-light);
}

.ice-super-light {
	background: var(--ice-super-light);
}

.poison-super-light {
	background: var(--poison-super-light);
}

.psychic-super-light {
	background: var(--psychic-super-light);
}

.rock-super-light {
	background: var(--rock-super-light);
}

.steel-super-light {
	background: var(--steel-super-light);
}

.water-super-light {
	background: var(--water-super-light);
}

/* Shadows */

.bug-shadow {
	box-shadow: 0 0 16px var(--bug);
}

.dark-shadow {
	box-shadow: 0 0 16px var(--dark);
}

.dragon-shadow {
	box-shadow: 0 0 16px var(--dragon);
}

.electric-shadow {
	box-shadow: 0 0 16px var(--electric);
}

.fairy-shadow {
	box-shadow: 0 0 16px var(--fairy);
}

.fighting-shadow {
	box-shadow: 0 0 16px var(--fighting);
}

.fire-shadow {
	box-shadow: 0 0 16px var(--fire);
}

.flying-shadow {
	box-shadow: 0 0 16px var(--flying);
}

.ghost-shadow {
	box-shadow: 0 0 16px var(--ghost);
}

.grass-shadow {
	box-shadow: 0 0 16px var(--grass);
}

.ground-shadow {
	box-shadow: 0 0 16px var(--ground);
}

.normal-shadow {
	box-shadow: 0 0 16px var(--normal);
}

.ice-shadow {
	box-shadow: 0 0 16px var(--ice);
}

.poison-shadow {
	box-shadow: 0 0 16px var(--poison);
}

.psychic-shadow {
	box-shadow: 0 0 16px var(--psychic);
}

.rock-shadow {
	box-shadow: 0 0 16px var(--rock);
}

.steel-shadow {
	box-shadow: 0 0 16px var(--steel);
}

.water-shadow {
	box-shadow: 0 0 16px var(--water);
}

/* Light Shadows */

.bug-light-shadow {
	box-shadow: 0 0 16px var(--bug-light);
}

.dark-light-shadow {
	box-shadow: 0 0 16px var(--dark-light);
}

.dragon-light-shadow {
	box-shadow: 0 0 16px var(--dragon-light);
}

.electric-light-shadow {
	box-shadow: 0 0 16px var(--electric-light);
}

.fairy-light-shadow {
	box-shadow: 0 0 16px var(--fairy-light);
}

.fighting-light-shadow {
	box-shadow: 0 0 16px var(--fighting-light);
}

.fire-light-shadow {
	box-shadow: 0 0 16px var(--fire-light);
}

.flying-light-shadow {
	box-shadow: 0 0 16px var(--flying-light);
}

.ghost-light-shadow {
	box-shadow: 0 0 16px var(--ghost-light);
}

.grass-light-shadow {
	box-shadow: 0 0 16px var(--grass-light);
}

.ground-light-shadow {
	box-shadow: 0 0 16px var(--ground-light);
}

.normal-light-shadow {
	box-shadow: 0 0 16px var(--normal-light);
}

.ice-light-shadow {
	box-shadow: 0 0 16px var(--ice-light);
}

.poison-light-shadow {
	box-shadow: 0 0 16px var(--poison-light);
}

.psychic-light-shadow {
	box-shadow: 0 0 16px var(--psychic-light);
}

.rock-light-shadow {
	box-shadow: 0 0 16px var(--rock-light);
}

.steel-light-shadow {
	box-shadow: 0 0 16px var(--steel-light);
}

.water-light-shadow {
	box-shadow: 0 0 16px var(--water-light);
}

/* Super light shadows */

.bug-super-light-shadow {
	box-shadow: 0 0 16px var(--bug-super-light);
}

.dark-super-light-shadow {
	box-shadow: 0 0 16px var(--dark-super-light);
}

.dragon-super-light-shadow {
	box-shadow: 0 0 16px var(--dragon-super-light);
}

.electric-super-light-shadow {
	box-shadow: 0 0 16px var(--electric-super-light);
}

.fairy-super-light-shadow {
	box-shadow: 0 0 16px var(--fairy-super-light);
}

.fighting-super-light-shadow {
	box-shadow: 0 0 16px var(--fighting-super-light);
}

.fire-super-light-shadow {
	box-shadow: 0 0 16px var(--fire-super-light);
}

.flying-super-light-shadow {
	box-shadow: 0 0 16px var(--flying-super-light);
}

.ghost-super-light-shadow {
	box-shadow: 0 0 16px var(--ghost-super-light);
}

.grass-super-light-shadow {
	box-shadow: 0 0 16px var(--grass-super-light);
}

.ground-super-light-shadow {
	box-shadow: 0 0 16px var(--ground-super-light);
}

.normal-super-light-shadow {
	box-shadow: 0 0 16px var(--normal-super-light);
}

.ice-super-light-shadow {
	box-shadow: 0 0 16px var(--ice-super-light);
}

.poison-super-light-shadow {
	box-shadow: 0 0 16px var(--poison-super-light);
}

.psychic-super-light-shadow {
	box-shadow: 0 0 16px var(--psychic-super-light);
}

.rock-super-light-shadow {
	box-shadow: 0 0 16px var(--rock-super-light);
}

.steel-super-light-shadow {
	box-shadow: 0 0 16px var(--steel-super-light);
}

.water-super-light-shadow {
	box-shadow: 0 0 16px var(--water-super-light);
}
