#lightbox {
	position: fixed;
	z-index: 999;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
}

#lightbox.active {
	display: flex;
	justify-content: center;
	align-items: center;
}

#lightbox > img {
	object-fit: cover;
	aspect-ratio: 16/9;
	max-height: 92dvh;
	max-width: 92dvw;
	/* padding: 2px; */
	/* background-color: rgba(255, 255, 255, 0.3); */
	/* border: 2px solid rgba(255, 255, 255, 0.5); */
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.arrow-button {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
	font-size: 2.2rem;
	color: white;
	cursor: pointer;
	transition: all 0.2s linear;
	opacity: 0.1;
}

.left {
	left: 8px;
}

.right {
	right: 8px;
}

.arrow-button:hover {
	transform: scale(1.1);
	cursor: pointer;
	opacity: 1;
}

/* GALLERY */

.gallery-container {
	left: 10px;
	right: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 8px;
	gap: 4px;
}

.gallery-container__image {
	/* max-height: 280px; */
	max-width: 90dvw;
	object-fit: cover;
	aspect-ratio: 16/9;
	transition: all 0.2s linear;
}

.gallery-container__image:hover {
	transform: scale(1.05);
	cursor: pointer;
	border-radius: 8px;
}
