body {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}

.main {
	display: flex;
	flex-direction: row;
}

.pokedex-container {
	display: flex;
	align-content: flex-start;
	flex-flow: row wrap;
	gap: 18px;
	justify-content: center;
	min-height: 100dvh;
	padding: 10px;
	background: var(--red-light);
}

.pokemon-card {
	opacity: 0;
	transform: translateY(10px);
	animation: fadeIn 0.5s ease-out forwards;
}

.load-more-button-container {
	display: flex;
	justify-content: center;
	padding: 10px;
	background: var(--red-light);
}

.load-more-button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 2px dotted var(--black);
	border-radius: 8px;
	padding: 10px;
	background: var(--white);
	transition: all 0.5s;
	font-size: 10px;
}

.load-more-button:hover {
	border: 2px solid var(--black);
	background: var(--hover-blue);
	color: var(--white);
	cursor: pointer;
}

.loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	display: none;
}

.loading-content {
	background: var(--white);
	padding: 20px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: bold;
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 20px;
	flex: 1;
	padding: 20px;
	overflow-y: auto;
	background: var(--red-light);
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

.display-flex {
	display: flex;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-auto {
	overflow: auto;
}

@media (min-width: 768px) {
	.pokedex-container {
		display: flex;
		align-content: flex-start;
		flex-flow: row wrap;
		gap: 24px;
		justify-content: center;
		min-height: 100dvh;
		padding: 16px;
		background: var(--red-light);
	}
	.load-more-button-container {
		padding: 16px;
	}
	.load-more-button {
		font-size: 12px;
	}
}

@media (min-width: 1044px) {
	*/ .load-more-button-container {
		padding: 16px;
	}
	.load-more-button {
		padding: 40px;
		border-radius: 40px;
		font-size: 40px;
	}
}
