.pokemon-container {
	border-radius: 8px;
	height: auto;
	width: 200px;
	color: var(--black);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.pokemon-container__header {
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	padding: 8px;
	color: var(--black);
}

.pokemon-number {
	/* display: flex;
	border: 1px solid var(--white);
	border-radius: 8px;
	padding: 2px;
	background: var(--white); */
}

.pokemon-img {
	border-radius: 100%;
	display: flex;
}

.pokemon-img img:hover {
	filter: saturate(200%);
	transform: scale(1.1);
	cursor: pointer;
}

.pokemon-img img {
	padding: 8px;
}

.pokemon-name {
	display: flex;
	justify-content: center;
	padding: 8px;
}

.pokemon-types {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.no-second-type {
	display: none;
}

.pokemon-info {
	/* -webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px; */
	display: flex;
	flex-flow: column;
	border-radius: 8px;
	padding: 8px;
	color: var(--black);
	background: var(--white);
}

.pokemon-info__flex-box {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	padding: 0 8px;
}
