.pokemon-container {
	border-radius: 8px;
	height: auto;
	width: 200px;
	color: var(--black);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.pokemon-container__header {
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	padding: 8px;
	color: var(--black);
}

.pokemon-img {
	border-radius: 100%;
	display: flex;
}

.pokemon-img-card {
	padding: 8px;
	transition: all 0.2s;
}

.pokemon-img-card:hover {
	filter: saturate(200%);
	transform: scale(1.2);
	border-radius: 100%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
	overflow: visible;
	cursor: pointer;
}

.pokemon-img-cardmg:focus {
	filter: saturate(200%);
	transform: scale(1.1);
	cursor: pointer;
}

.pokemon-img-card:active {
	filter: saturate(200%);
	transform: scale(1.1);
	cursor: pointer;
}

.pokemon-name {
	display: flex;
	justify-content: center;
	padding: 8px;
}

.pokemon-types {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.type-icon-small {
	display: flex;
	border-radius: 100%;
	height: 24px;
	width: 24px;
	margin: auto;
	filter: saturate(200%);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	transition: 200ms all;
}

.type-icon-big {
	display: flex;
	border-radius: 100%;
	height: 40px;
	width: 40px;
	margin: auto;
	filter: saturate(200%);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	transition: 200ms all;
}

.type-icon-small img,
.type-icon-big img {
	height: 60%;
	width: 60%;
	margin: 20%;
}

.no-second-type {
	display: none;
}

.pokemon-info {
	display: flex;
	flex-flow: column;
	border-radius: 8px;
	padding: 8px;
	color: var(--black);
	background: var(--white);
}

.pokemon-info__flex-box {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	padding: 0 8px;
}

.types {
	display: flex;
	gap: 6px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1000;
}

.gap {
	gap: 8px;
	align-items: center;
}

.overlay-top {
	padding: 24px;
}

.pokemon-details {
	position: relative;
	border-radius: 10px;
	width: 400px;
	text-align: center;
}

.pokemon-img-overlay {
	padding: 16px;
}

.overlay-bottom__section {
	display: flex;
	justify-content: space-between;
}

.overlay-pokemon-stats {
	display: flex;
	flex-flow: column;
}

.stat {
	border: 1px solid var(--red-light);
	border-radius: 8px;
	padding: 2px;
	margin: 2px;
}

.hr {
	margin: 8px;
}

.overlay-bottom__base-stats {
	display: flex;
	justify-content: center;
}

.base-stats {
	border: 1px solid var(--black);
	border-radius: 8px;
	padding: 8px;
	padding: 2px;
	margin: 2px;
}

.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	border-radius: 8px;
	padding: 10px;
	background: var(--red-light);
	color: var(--white);
	cursor: pointer;
	transition: all 0.2s;
}

.close-button:hover {
	background: var(--red);
	transform: scale(1.2);
}

.nav-button {
	position: absolute;
	top: 50%;
	border: none;
	border-radius: 8px;
	padding: 10px;
	background: var(--red-light);
	color: var(--white);
	cursor: pointer;
	transition: all 0.2s;
}

.nav-button:hover {
	background: var(--red);
	transform: scale(1.2);
}

.nav-button.left {
	left: -40px;
}

.nav-button.right {
	right: -40px;
}
