.header {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	justify-content: space-between;
	padding: 12px;
	background: var(--white);
	color: var(--black);
}

.logo-container {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
}

.logo-container__pokeball-icon {
	height: 24px;
	background: var(--black);
	border-radius: 50%;
}

.logo-container__title {
	font-size: 18px;
	font-weight: bold;
}

.search-bar {
	width: 200px;
	padding: 6px;
	border: 1px dotted var(--black);
	border-radius: 5px;
	font-size: 12px;
	outline: none;
	/* transition: 0.3s; */
}

.search-container {
	position: relative;
	display: flex;
	align-items: center;
}

.clear-button {
	position: absolute;
	right: 8px;
	background: none;
	border: none;
	font-size: 16px;
	cursor: pointer;
	display: none;
}

.search-bar:focus {
	border: 1px solid var(--black);
}

.suggestions-list {
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	background: var(--white);
	border: 1px solid var(--black);
	border-radius: 5px;
	list-style: none;
	padding: 5px;
	margin: 0;
	max-height: 150px;
	overflow-y: auto;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	display: none;
}

.suggestions-list li {
	padding: 8px;
	cursor: pointer;
	transition: 0.3s;
}

.suggestions-list li:hover {
	background: var(--black);
	color: white;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.button-container {
	unset: all;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 6px;
}

.pokedex-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px dotted var(--black);
	border-radius: 8px;
	padding: 8px;
	transition: all 0.5s;
	font-size: 10px;
}

.pokedex-button:hover,
.pokedex-button:focus,
.pokedex-button:active,
.pokedex-button.active {
	border: 1px solid var(--black);
	background: var(--hover-blue);
	color: var(--white);
	cursor: pointer;
	font-size: 10px;
}

.footer {
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 14px;
	padding: 12px;
	background: var(--white);
	color: var(--black);
}

.copyright__logo-footer {
	display: flex;
	align-items: center;
	gap: 6px;
	cursor: pointer;
}

.logo-footer__pokeball-icon {
	height: 16px;
	background: var(--black);
	border-radius: 50%;
}

.logo-footer__title {
	font-size: 14px;
	font-weight: bold;
}

.footer__more-info {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0px;
}

.more-info__separator {
	width: 1px;
	height: 24px;
	background-color: black;
	margin: 0 8px 0;
}

@media (min-width: 768px) {
	.header {
		display: flex;
		align-items: center;
		flex-flow: row;
		gap: 24px;
		justify-content: space-between;
		padding: 16px;
		background: var(--white);
		color: var(--black);
	}
	.logo-container {
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 16px;
		cursor: pointer;
	}

	.logo-container__pokeball-icon {
		height: 24px;
		background: var(--black);
		border-radius: 50%;
	}

	.logo-container__title {
		font-size: 18px;
		font-weight: bold;
	}

	.search-bar {
		width: 200px;
		padding: 8px;
		border: 2px dotted var(--black);
		border-radius: 5px;
		font-size: 16px;
		outline: none;
		transition: 0.3s;
	}

	.search-container {
		position: relative;
		display: flex;
		align-items: center;
	}

	.clear-button {
		position: absolute;
		right: 8px;
		background: none;
		border: none;
		font-size: 18px;
		cursor: pointer;
		display: none;
	}

	.search-bar:focus {
		border: 2px solid var(--black);
	}

	.pokedex-button {
		font-size: 12px;
	}

	.pokedex-button:hover,
	.pokedex-button:focus,
	.pokedex-button:active,
	.pokedex-button.active {
		border: 2px solid var(--black);
	}

	.footer {
		justify-content: space-between;
		padding: 24px;
	}

	.copyright__logo-footer {
		display: flex;
		align-items: center;
		gap: 6px;
		cursor: pointer;
	}

	.logo-footer__pokeball-icon {
		height: 16px;
		background: var(--black);
		border-radius: 50%;
	}

	.logo-footer__title {
		font-size: 14px;
		font-weight: bold;
	}

	.footer__more-info {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.more-info__separator {
		width: 1px;
		height: 24px;
		background-color: black;
		margin: 0 8px 0;
	}
}
