.header {
	display: flex;
	justify-content: center;
	gap: 24px;
	padding: 16px;
	background: var(--white);
	color: var(--black);
}

.pokedex-logo {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 16px;
}

.pokedex-logo__pokeball {
	height: 24px;
	background: var(--black);
	border-radius: 50%;
}

.pokedex-logo__title {
	font-size: 18px;
	font-weight: bold;
}

.pokedex-button {
	display: flex;
	align-items: center;
	flex-flow: column;
	justify-content: center;
	height: 100px;
	cursor: pointer;
	border: 2px solid var(--white);
	border-radius: 8px;
	padding: 16px;
}
