.header {
	display: flex;
	justify-content: space-between;
	gap: 24px;
	padding: 16px;
	background: var(--white);
	color: var(--black);
}

.pokedex-logo {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 16px;
}

.pokedex-logo__pokeball-icon {
	height: 24px;
	background: var(--black);
	border-radius: 50%;
}

.pokedex-logo__title {
	font-size: 18px;
	font-weight: bold;
}

.pokedex-button {
	border: 2px dotted var(--black);
	border-radius: 8px;
	padding: 16px;
	transition: all 0.5s;
}

.pokedex-button:hover {
	border: 2px solid var(--black);
	background: var(--hover-blue);
	color: var(--white);
	cursor: pointer;
}

.pokedex-button:focus {
	border: 2px solid var(--black);
	background: var(--hover-blue);
	color: var(--white);
	cursor: pointer;
}
