.header {
	display: flex;
	justify-content: space-between;
	gap: 24px;
	padding: 16px;
	background: var(--white);
	color: var(--black);
}

.logo-container {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 16px;
	cursor: pointer;
}

.logo-container__pokeball-icon {
	height: 24px;
	background: var(--black);
	border-radius: 50%;
}

.logo-container__title {
	font-size: 18px;
	font-weight: bold;
}

.search-container {
	display: flex;
}

.search-bar {
	width: 200px;
	padding: 8px;
	border: 2px dotted var(--black);
	border-radius: 5px;
	font-size: 16px;
	outline: none;
	transition: 0.3s;
}

.search-bar:focus {
	border: 2px solid var(--black);
}

.suggestions-list {
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	background: var(--white);
	border: 1px solid var(--black);
	border-radius: 5px;
	list-style: none;
	padding: 5px;
	margin: 0;
	max-height: 150px;
	overflow-y: auto;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	display: none;
}

.suggestions-list li {
	padding: 8px;
	cursor: pointer;
	transition: 0.3s;
}

.suggestions-list li:hover {
	background: var(--black);
	color: white;
}

/* Animation für Pokémon-Karten */
.pokemon-card {
	opacity: 0;
	transform: translateY(10px);
	animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.button-container {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.pokedex-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px dotted var(--black);
	border-radius: 8px;
	padding: 10px;
	transition: all 0.5s;
}

.pokedex-button:hover {
	border: 2px solid var(--black);
	background: var(--hover-blue);
	color: var(--white);
	cursor: pointer;
}

.pokedex-button:focus {
	border: 2px solid var(--black);
	background: var(--hover-blue);
	color: var(--white);
	cursor: pointer;
}

.pokedex-button:active,
.pokedex-button.active {
	border: 2px solid var(--black);
	background: var(--hover-blue);
	color: var(--white);
	cursor: pointer;
}
